$back-color: #4B72A6;
$letra: #CECDCD;
$font-family: serif;
$margin: #294973;
$size_leter: 16;

body
  background : $back-color

h1
  color : $letra
  font-family: $font-family
  margin-top: 19%
  margin-left: 25%
  font-size: $size_leter + 16px

h2
  color: $letra
  font-size: $size_leter+px
  margin-top: 6px

img
  margin-top: 5%
  
#moiratrigger
  border-bottom: 4px solid $margin

#formulas
  border-bottom: 4px solid $margin