.container-fluid{
    margin-top:5px;
}
.panel-body{
    padding: 2px;
}

.panel.panel-primary{
    overflow: scroll;
    height: 95%;
}
p{
    font-size: 11px;
}

.alert.alert-warning{
    padding: 0px;
    padding-left: 9px;
    margin-bottom: 7px;
}
