<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Trigger Moira</h3>
    </div>
    <div class="panel-body">
        <div class="list-group" id="trigger">
            <a href="#" class="list-group-item" ng-repeat="(nombre,formula) in triggers" ng-click="triggerSelect($event,nombre)">
                <h4 class="list-group-item-heading">{{nombre}}</h4>
                <p class="list-group-item-text">{{formula}}</p>
            </a>
        </div>
    </div>
</div>